<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.apin.qunar.order.dao.mapper.InternationalOrderMapper" >
    <resultMap id="InternationalOrderResult" type="com.apin.qunar.order.dao.model.InternationalOrder" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="merchant_no" property="merchantNo" jdbcType="CHAR" />
      <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
      <result column="ticket_no" property="ticketNo" jdbcType="VARCHAR" />
      <result column="pack_name" property="packName" jdbcType="VARCHAR" />
      <result column="go_flight_num" property="goFlightNum" jdbcType="VARCHAR" />
      <result column="go_act_flight_num" property="goActFlightNum" jdbcType="VARCHAR" />
      <result column="go_flight_time" property="goFlightTime" jdbcType="VARCHAR" />
      <result column="go_carrier_code" property="goCarrierCode" jdbcType="VARCHAR" />
      <result column="go_carrier_name" property="goCarrierName" jdbcType="VARCHAR" />
      <result column="go_stop_cnt" property="goStopCnt" jdbcType="INTEGER" />
      <result column="go_cabin" property="goCabin" jdbcType="VARCHAR" />
      <result column="go_dept_city" property="goDeptCity" jdbcType="VARCHAR" />
      <result column="go_arri_city" property="goArriCity" jdbcType="VARCHAR" />
      <result column="go_dept_airport_code" property="goDeptAirportCode" jdbcType="CHAR" />
      <result column="go_arri_airport_code" property="goArriAirportCode" jdbcType="CHAR" />
      <result column="go_dept_airport_name" property="goDeptAirportName" jdbcType="VARCHAR" />
      <result column="go_arri_airport_name" property="goArriAirportName" jdbcType="VARCHAR" />
      <result column="go_dept_terminal" property="goDeptTerminal" jdbcType="VARCHAR" />
      <result column="go_arri_terminal" property="goArriTerminal" jdbcType="VARCHAR" />
      <result column="go_dept_date" property="goDeptDate" jdbcType="VARCHAR" />
      <result column="go_dept_time" property="goDeptTime" jdbcType="VARCHAR" />
      <result column="go_arri_time" property="goArriTime" jdbcType="VARCHAR" />
      <result column="back_flight_num" property="backFlightNum" jdbcType="VARCHAR" />
      <result column="back_act_flight_num" property="backActFlightNum" jdbcType="VARCHAR" />
      <result column="back_flight_time" property="backFlightTime" jdbcType="VARCHAR" />
      <result column="back_carrier_code" property="backCarrierCode" jdbcType="VARCHAR" />
      <result column="back_carrier_name" property="backCarrierName" jdbcType="VARCHAR" />
      <result column="back_stop_cnt" property="backStopCnt" jdbcType="INTEGER" />
      <result column="back_cabin" property="backCabin" jdbcType="VARCHAR" />
      <result column="back_dept_city" property="backDeptCity" jdbcType="VARCHAR" />
      <result column="back_arri_city" property="backArriCity" jdbcType="VARCHAR" />
      <result column="back_dept_airport_code" property="backDeptAirportCode" jdbcType="CHAR" />
      <result column="back_arri_airport_code" property="backArriAirportCode" jdbcType="CHAR" />
      <result column="back_dept_airport_name" property="backDeptAirportName" jdbcType="VARCHAR" />
      <result column="back_arri_airport_name" property="backArriAirportName" jdbcType="VARCHAR" />
      <result column="back_dept_terminal" property="backDeptTerminal" jdbcType="VARCHAR" />
      <result column="back_arri_terminal" property="backArriTerminal" jdbcType="VARCHAR" />
      <result column="back_dept_date" property="backDeptDate" jdbcType="VARCHAR" />
      <result column="back_dept_time" property="backDeptTime" jdbcType="VARCHAR" />
      <result column="back_arri_time" property="backArriTime" jdbcType="VARCHAR" />
      <result column="return_fee" property="returnFee" jdbcType="INTEGER" />
      <result column="return_text" property="returnText" jdbcType="VARCHAR" />
      <result column="change_fee" property="changeFee" jdbcType="INTEGER" />
      <result column="change_text" property="changeText" jdbcType="VARCHAR" />
      <result column="pay_id" property="payId" jdbcType="VARCHAR" />
      <result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
      <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
      <result column="pay_time" property="payTime" jdbcType="VARCHAR" />
      <result column="pay_deadline" property="payDeadline" jdbcType="VARCHAR" />
      <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
      <result column="contact_num" property="contactNum" jdbcType="VARCHAR" />
      <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
      <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
      <result column="operator" property="operator" jdbcType="VARCHAR" />
      <result column="has_show" property="hasShow" jdbcType="INTEGER" />
      <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="InternationalOrderColumns" >
      id, merchant_no, order_no, ticket_no, pack_name, go_flight_num, go_act_flight_num, 
      go_flight_time, go_carrier_code, go_carrier_name, go_stop_cnt, go_cabin, go_dept_city, 
      go_arri_city, go_dept_airport_code, go_arri_airport_code, go_dept_airport_name, go_arri_airport_name, 
      go_dept_terminal, go_arri_terminal, go_dept_date, go_dept_time, go_arri_time, back_flight_num, 
      back_act_flight_num, back_flight_time, back_carrier_code, back_carrier_name, back_stop_cnt, 
      back_cabin, back_dept_city, back_arri_city, back_dept_airport_code, back_arri_airport_code, 
      back_dept_airport_name, back_arri_airport_name, back_dept_terminal, back_arri_terminal, 
      back_dept_date, back_dept_time, back_arri_time, return_fee, return_text, change_fee, 
      change_text, pay_id, pay_amount, pay_status, pay_time, pay_deadline, contact_name, 
      contact_num, contact_mobile, contact_email, operator, has_show, insert_time, update_time
    </sql>
    <select id="selectByExample" resultMap="InternationalOrderResult" parameterType="com.apin.qunar.order.dao.model.InternationalOrderExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="InternationalOrderColumns" />
      from international_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="InternationalOrderResult" parameterType="java.lang.Long" >
      select 
      <include refid="InternationalOrderColumns" />
      from international_order
      where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
      delete from international_order
      where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.apin.qunar.order.dao.model.InternationalOrderExample" >
      delete from international_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.apin.qunar.order.dao.model.InternationalOrder" >
      insert into international_order (id, merchant_no, order_no, 
        ticket_no, pack_name, go_flight_num, 
        go_act_flight_num, go_flight_time, go_carrier_code, 
        go_carrier_name, go_stop_cnt, go_cabin, 
        go_dept_city, go_arri_city, go_dept_airport_code, 
        go_arri_airport_code, go_dept_airport_name, go_arri_airport_name, 
        go_dept_terminal, go_arri_terminal, go_dept_date, 
        go_dept_time, go_arri_time, back_flight_num, 
        back_act_flight_num, back_flight_time, back_carrier_code, 
        back_carrier_name, back_stop_cnt, back_cabin, 
        back_dept_city, back_arri_city, back_dept_airport_code, 
        back_arri_airport_code, back_dept_airport_name, 
        back_arri_airport_name, back_dept_terminal, 
        back_arri_terminal, back_dept_date, back_dept_time, 
        back_arri_time, return_fee, return_text, 
        change_fee, change_text, pay_id, 
        pay_amount, pay_status, pay_time, 
        pay_deadline, contact_name, contact_num, 
        contact_mobile, contact_email, operator, 
        has_show, insert_time, update_time
        )
      values (#{id,jdbcType=BIGINT}, #{merchantNo,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, 
        #{ticketNo,jdbcType=VARCHAR}, #{packName,jdbcType=VARCHAR}, #{goFlightNum,jdbcType=VARCHAR}, 
        #{goActFlightNum,jdbcType=VARCHAR}, #{goFlightTime,jdbcType=VARCHAR}, #{goCarrierCode,jdbcType=VARCHAR}, 
        #{goCarrierName,jdbcType=VARCHAR}, #{goStopCnt,jdbcType=INTEGER}, #{goCabin,jdbcType=VARCHAR}, 
        #{goDeptCity,jdbcType=VARCHAR}, #{goArriCity,jdbcType=VARCHAR}, #{goDeptAirportCode,jdbcType=CHAR}, 
        #{goArriAirportCode,jdbcType=CHAR}, #{goDeptAirportName,jdbcType=VARCHAR}, #{goArriAirportName,jdbcType=VARCHAR}, 
        #{goDeptTerminal,jdbcType=VARCHAR}, #{goArriTerminal,jdbcType=VARCHAR}, #{goDeptDate,jdbcType=VARCHAR}, 
        #{goDeptTime,jdbcType=VARCHAR}, #{goArriTime,jdbcType=VARCHAR}, #{backFlightNum,jdbcType=VARCHAR}, 
        #{backActFlightNum,jdbcType=VARCHAR}, #{backFlightTime,jdbcType=VARCHAR}, #{backCarrierCode,jdbcType=VARCHAR}, 
        #{backCarrierName,jdbcType=VARCHAR}, #{backStopCnt,jdbcType=INTEGER}, #{backCabin,jdbcType=VARCHAR}, 
        #{backDeptCity,jdbcType=VARCHAR}, #{backArriCity,jdbcType=VARCHAR}, #{backDeptAirportCode,jdbcType=CHAR}, 
        #{backArriAirportCode,jdbcType=CHAR}, #{backDeptAirportName,jdbcType=VARCHAR}, 
        #{backArriAirportName,jdbcType=VARCHAR}, #{backDeptTerminal,jdbcType=VARCHAR}, 
        #{backArriTerminal,jdbcType=VARCHAR}, #{backDeptDate,jdbcType=VARCHAR}, #{backDeptTime,jdbcType=VARCHAR}, 
        #{backArriTime,jdbcType=VARCHAR}, #{returnFee,jdbcType=INTEGER}, #{returnText,jdbcType=VARCHAR}, 
        #{changeFee,jdbcType=INTEGER}, #{changeText,jdbcType=VARCHAR}, #{payId,jdbcType=VARCHAR}, 
        #{payAmount,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, #{payTime,jdbcType=VARCHAR}, 
        #{payDeadline,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactNum,jdbcType=VARCHAR}, 
        #{contactMobile,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
        #{hasShow,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.apin.qunar.order.dao.model.InternationalOrder" >
      insert into international_order
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="merchantNo != null" >
          merchant_no,
        </if>
        <if test="orderNo != null" >
          order_no,
        </if>
        <if test="ticketNo != null" >
          ticket_no,
        </if>
        <if test="packName != null" >
          pack_name,
        </if>
        <if test="goFlightNum != null" >
          go_flight_num,
        </if>
        <if test="goActFlightNum != null" >
          go_act_flight_num,
        </if>
        <if test="goFlightTime != null" >
          go_flight_time,
        </if>
        <if test="goCarrierCode != null" >
          go_carrier_code,
        </if>
        <if test="goCarrierName != null" >
          go_carrier_name,
        </if>
        <if test="goStopCnt != null" >
          go_stop_cnt,
        </if>
        <if test="goCabin != null" >
          go_cabin,
        </if>
        <if test="goDeptCity != null" >
          go_dept_city,
        </if>
        <if test="goArriCity != null" >
          go_arri_city,
        </if>
        <if test="goDeptAirportCode != null" >
          go_dept_airport_code,
        </if>
        <if test="goArriAirportCode != null" >
          go_arri_airport_code,
        </if>
        <if test="goDeptAirportName != null" >
          go_dept_airport_name,
        </if>
        <if test="goArriAirportName != null" >
          go_arri_airport_name,
        </if>
        <if test="goDeptTerminal != null" >
          go_dept_terminal,
        </if>
        <if test="goArriTerminal != null" >
          go_arri_terminal,
        </if>
        <if test="goDeptDate != null" >
          go_dept_date,
        </if>
        <if test="goDeptTime != null" >
          go_dept_time,
        </if>
        <if test="goArriTime != null" >
          go_arri_time,
        </if>
        <if test="backFlightNum != null" >
          back_flight_num,
        </if>
        <if test="backActFlightNum != null" >
          back_act_flight_num,
        </if>
        <if test="backFlightTime != null" >
          back_flight_time,
        </if>
        <if test="backCarrierCode != null" >
          back_carrier_code,
        </if>
        <if test="backCarrierName != null" >
          back_carrier_name,
        </if>
        <if test="backStopCnt != null" >
          back_stop_cnt,
        </if>
        <if test="backCabin != null" >
          back_cabin,
        </if>
        <if test="backDeptCity != null" >
          back_dept_city,
        </if>
        <if test="backArriCity != null" >
          back_arri_city,
        </if>
        <if test="backDeptAirportCode != null" >
          back_dept_airport_code,
        </if>
        <if test="backArriAirportCode != null" >
          back_arri_airport_code,
        </if>
        <if test="backDeptAirportName != null" >
          back_dept_airport_name,
        </if>
        <if test="backArriAirportName != null" >
          back_arri_airport_name,
        </if>
        <if test="backDeptTerminal != null" >
          back_dept_terminal,
        </if>
        <if test="backArriTerminal != null" >
          back_arri_terminal,
        </if>
        <if test="backDeptDate != null" >
          back_dept_date,
        </if>
        <if test="backDeptTime != null" >
          back_dept_time,
        </if>
        <if test="backArriTime != null" >
          back_arri_time,
        </if>
        <if test="returnFee != null" >
          return_fee,
        </if>
        <if test="returnText != null" >
          return_text,
        </if>
        <if test="changeFee != null" >
          change_fee,
        </if>
        <if test="changeText != null" >
          change_text,
        </if>
        <if test="payId != null" >
          pay_id,
        </if>
        <if test="payAmount != null" >
          pay_amount,
        </if>
        <if test="payStatus != null" >
          pay_status,
        </if>
        <if test="payTime != null" >
          pay_time,
        </if>
        <if test="payDeadline != null" >
          pay_deadline,
        </if>
        <if test="contactName != null" >
          contact_name,
        </if>
        <if test="contactNum != null" >
          contact_num,
        </if>
        <if test="contactMobile != null" >
          contact_mobile,
        </if>
        <if test="contactEmail != null" >
          contact_email,
        </if>
        <if test="operator != null" >
          operator,
        </if>
        <if test="hasShow != null" >
          has_show,
        </if>
        <if test="insertTime != null" >
          insert_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="merchantNo != null" >
          #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="orderNo != null" >
          #{orderNo,jdbcType=VARCHAR},
        </if>
        <if test="ticketNo != null" >
          #{ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="packName != null" >
          #{packName,jdbcType=VARCHAR},
        </if>
        <if test="goFlightNum != null" >
          #{goFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="goActFlightNum != null" >
          #{goActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="goFlightTime != null" >
          #{goFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="goCarrierCode != null" >
          #{goCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="goCarrierName != null" >
          #{goCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="goStopCnt != null" >
          #{goStopCnt,jdbcType=INTEGER},
        </if>
        <if test="goCabin != null" >
          #{goCabin,jdbcType=VARCHAR},
        </if>
        <if test="goDeptCity != null" >
          #{goDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="goArriCity != null" >
          #{goArriCity,jdbcType=VARCHAR},
        </if>
        <if test="goDeptAirportCode != null" >
          #{goDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="goArriAirportCode != null" >
          #{goArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="goDeptAirportName != null" >
          #{goDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="goArriAirportName != null" >
          #{goArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="goDeptTerminal != null" >
          #{goDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="goArriTerminal != null" >
          #{goArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="goDeptDate != null" >
          #{goDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="goDeptTime != null" >
          #{goDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="goArriTime != null" >
          #{goArriTime,jdbcType=VARCHAR},
        </if>
        <if test="backFlightNum != null" >
          #{backFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="backActFlightNum != null" >
          #{backActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="backFlightTime != null" >
          #{backFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="backCarrierCode != null" >
          #{backCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="backCarrierName != null" >
          #{backCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="backStopCnt != null" >
          #{backStopCnt,jdbcType=INTEGER},
        </if>
        <if test="backCabin != null" >
          #{backCabin,jdbcType=VARCHAR},
        </if>
        <if test="backDeptCity != null" >
          #{backDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="backArriCity != null" >
          #{backArriCity,jdbcType=VARCHAR},
        </if>
        <if test="backDeptAirportCode != null" >
          #{backDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="backArriAirportCode != null" >
          #{backArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="backDeptAirportName != null" >
          #{backDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="backArriAirportName != null" >
          #{backArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="backDeptTerminal != null" >
          #{backDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="backArriTerminal != null" >
          #{backArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="backDeptDate != null" >
          #{backDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="backDeptTime != null" >
          #{backDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="backArriTime != null" >
          #{backArriTime,jdbcType=VARCHAR},
        </if>
        <if test="returnFee != null" >
          #{returnFee,jdbcType=INTEGER},
        </if>
        <if test="returnText != null" >
          #{returnText,jdbcType=VARCHAR},
        </if>
        <if test="changeFee != null" >
          #{changeFee,jdbcType=INTEGER},
        </if>
        <if test="changeText != null" >
          #{changeText,jdbcType=VARCHAR},
        </if>
        <if test="payId != null" >
          #{payId,jdbcType=VARCHAR},
        </if>
        <if test="payAmount != null" >
          #{payAmount,jdbcType=INTEGER},
        </if>
        <if test="payStatus != null" >
          #{payStatus,jdbcType=INTEGER},
        </if>
        <if test="payTime != null" >
          #{payTime,jdbcType=VARCHAR},
        </if>
        <if test="payDeadline != null" >
          #{payDeadline,jdbcType=VARCHAR},
        </if>
        <if test="contactName != null" >
          #{contactName,jdbcType=VARCHAR},
        </if>
        <if test="contactNum != null" >
          #{contactNum,jdbcType=VARCHAR},
        </if>
        <if test="contactMobile != null" >
          #{contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="contactEmail != null" >
          #{contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="operator != null" >
          #{operator,jdbcType=VARCHAR},
        </if>
        <if test="hasShow != null" >
          #{hasShow,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          #{insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          #{updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.apin.qunar.order.dao.model.InternationalOrderExample" resultType="java.lang.Integer" >
      select count(*) from international_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update international_order
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=BIGINT},
        </if>
        <if test="record.merchantNo != null" >
          merchant_no = #{record.merchantNo,jdbcType=CHAR},
        </if>
        <if test="record.orderNo != null" >
          order_no = #{record.orderNo,jdbcType=VARCHAR},
        </if>
        <if test="record.ticketNo != null" >
          ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="record.packName != null" >
          pack_name = #{record.packName,jdbcType=VARCHAR},
        </if>
        <if test="record.goFlightNum != null" >
          go_flight_num = #{record.goFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.goActFlightNum != null" >
          go_act_flight_num = #{record.goActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.goFlightTime != null" >
          go_flight_time = #{record.goFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="record.goCarrierCode != null" >
          go_carrier_code = #{record.goCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="record.goCarrierName != null" >
          go_carrier_name = #{record.goCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="record.goStopCnt != null" >
          go_stop_cnt = #{record.goStopCnt,jdbcType=INTEGER},
        </if>
        <if test="record.goCabin != null" >
          go_cabin = #{record.goCabin,jdbcType=VARCHAR},
        </if>
        <if test="record.goDeptCity != null" >
          go_dept_city = #{record.goDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="record.goArriCity != null" >
          go_arri_city = #{record.goArriCity,jdbcType=VARCHAR},
        </if>
        <if test="record.goDeptAirportCode != null" >
          go_dept_airport_code = #{record.goDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.goArriAirportCode != null" >
          go_arri_airport_code = #{record.goArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.goDeptAirportName != null" >
          go_dept_airport_name = #{record.goDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.goArriAirportName != null" >
          go_arri_airport_name = #{record.goArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.goDeptTerminal != null" >
          go_dept_terminal = #{record.goDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.goArriTerminal != null" >
          go_arri_terminal = #{record.goArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.goDeptDate != null" >
          go_dept_date = #{record.goDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="record.goDeptTime != null" >
          go_dept_time = #{record.goDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="record.goArriTime != null" >
          go_arri_time = #{record.goArriTime,jdbcType=VARCHAR},
        </if>
        <if test="record.backFlightNum != null" >
          back_flight_num = #{record.backFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.backActFlightNum != null" >
          back_act_flight_num = #{record.backActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.backFlightTime != null" >
          back_flight_time = #{record.backFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="record.backCarrierCode != null" >
          back_carrier_code = #{record.backCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="record.backCarrierName != null" >
          back_carrier_name = #{record.backCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="record.backStopCnt != null" >
          back_stop_cnt = #{record.backStopCnt,jdbcType=INTEGER},
        </if>
        <if test="record.backCabin != null" >
          back_cabin = #{record.backCabin,jdbcType=VARCHAR},
        </if>
        <if test="record.backDeptCity != null" >
          back_dept_city = #{record.backDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="record.backArriCity != null" >
          back_arri_city = #{record.backArriCity,jdbcType=VARCHAR},
        </if>
        <if test="record.backDeptAirportCode != null" >
          back_dept_airport_code = #{record.backDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.backArriAirportCode != null" >
          back_arri_airport_code = #{record.backArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.backDeptAirportName != null" >
          back_dept_airport_name = #{record.backDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.backArriAirportName != null" >
          back_arri_airport_name = #{record.backArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.backDeptTerminal != null" >
          back_dept_terminal = #{record.backDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.backArriTerminal != null" >
          back_arri_terminal = #{record.backArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.backDeptDate != null" >
          back_dept_date = #{record.backDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="record.backDeptTime != null" >
          back_dept_time = #{record.backDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="record.backArriTime != null" >
          back_arri_time = #{record.backArriTime,jdbcType=VARCHAR},
        </if>
        <if test="record.returnFee != null" >
          return_fee = #{record.returnFee,jdbcType=INTEGER},
        </if>
        <if test="record.returnText != null" >
          return_text = #{record.returnText,jdbcType=VARCHAR},
        </if>
        <if test="record.changeFee != null" >
          change_fee = #{record.changeFee,jdbcType=INTEGER},
        </if>
        <if test="record.changeText != null" >
          change_text = #{record.changeText,jdbcType=VARCHAR},
        </if>
        <if test="record.payId != null" >
          pay_id = #{record.payId,jdbcType=VARCHAR},
        </if>
        <if test="record.payAmount != null" >
          pay_amount = #{record.payAmount,jdbcType=INTEGER},
        </if>
        <if test="record.payStatus != null" >
          pay_status = #{record.payStatus,jdbcType=INTEGER},
        </if>
        <if test="record.payTime != null" >
          pay_time = #{record.payTime,jdbcType=VARCHAR},
        </if>
        <if test="record.payDeadline != null" >
          pay_deadline = #{record.payDeadline,jdbcType=VARCHAR},
        </if>
        <if test="record.contactName != null" >
          contact_name = #{record.contactName,jdbcType=VARCHAR},
        </if>
        <if test="record.contactNum != null" >
          contact_num = #{record.contactNum,jdbcType=VARCHAR},
        </if>
        <if test="record.contactMobile != null" >
          contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="record.contactEmail != null" >
          contact_email = #{record.contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="record.operator != null" >
          operator = #{record.operator,jdbcType=VARCHAR},
        </if>
        <if test="record.hasShow != null" >
          has_show = #{record.hasShow,jdbcType=INTEGER},
        </if>
        <if test="record.insertTime != null" >
          insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateTime != null" >
          update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update international_order
      set id = #{record.id,jdbcType=BIGINT},
        merchant_no = #{record.merchantNo,jdbcType=CHAR},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
        pack_name = #{record.packName,jdbcType=VARCHAR},
        go_flight_num = #{record.goFlightNum,jdbcType=VARCHAR},
        go_act_flight_num = #{record.goActFlightNum,jdbcType=VARCHAR},
        go_flight_time = #{record.goFlightTime,jdbcType=VARCHAR},
        go_carrier_code = #{record.goCarrierCode,jdbcType=VARCHAR},
        go_carrier_name = #{record.goCarrierName,jdbcType=VARCHAR},
        go_stop_cnt = #{record.goStopCnt,jdbcType=INTEGER},
        go_cabin = #{record.goCabin,jdbcType=VARCHAR},
        go_dept_city = #{record.goDeptCity,jdbcType=VARCHAR},
        go_arri_city = #{record.goArriCity,jdbcType=VARCHAR},
        go_dept_airport_code = #{record.goDeptAirportCode,jdbcType=CHAR},
        go_arri_airport_code = #{record.goArriAirportCode,jdbcType=CHAR},
        go_dept_airport_name = #{record.goDeptAirportName,jdbcType=VARCHAR},
        go_arri_airport_name = #{record.goArriAirportName,jdbcType=VARCHAR},
        go_dept_terminal = #{record.goDeptTerminal,jdbcType=VARCHAR},
        go_arri_terminal = #{record.goArriTerminal,jdbcType=VARCHAR},
        go_dept_date = #{record.goDeptDate,jdbcType=VARCHAR},
        go_dept_time = #{record.goDeptTime,jdbcType=VARCHAR},
        go_arri_time = #{record.goArriTime,jdbcType=VARCHAR},
        back_flight_num = #{record.backFlightNum,jdbcType=VARCHAR},
        back_act_flight_num = #{record.backActFlightNum,jdbcType=VARCHAR},
        back_flight_time = #{record.backFlightTime,jdbcType=VARCHAR},
        back_carrier_code = #{record.backCarrierCode,jdbcType=VARCHAR},
        back_carrier_name = #{record.backCarrierName,jdbcType=VARCHAR},
        back_stop_cnt = #{record.backStopCnt,jdbcType=INTEGER},
        back_cabin = #{record.backCabin,jdbcType=VARCHAR},
        back_dept_city = #{record.backDeptCity,jdbcType=VARCHAR},
        back_arri_city = #{record.backArriCity,jdbcType=VARCHAR},
        back_dept_airport_code = #{record.backDeptAirportCode,jdbcType=CHAR},
        back_arri_airport_code = #{record.backArriAirportCode,jdbcType=CHAR},
        back_dept_airport_name = #{record.backDeptAirportName,jdbcType=VARCHAR},
        back_arri_airport_name = #{record.backArriAirportName,jdbcType=VARCHAR},
        back_dept_terminal = #{record.backDeptTerminal,jdbcType=VARCHAR},
        back_arri_terminal = #{record.backArriTerminal,jdbcType=VARCHAR},
        back_dept_date = #{record.backDeptDate,jdbcType=VARCHAR},
        back_dept_time = #{record.backDeptTime,jdbcType=VARCHAR},
        back_arri_time = #{record.backArriTime,jdbcType=VARCHAR},
        return_fee = #{record.returnFee,jdbcType=INTEGER},
        return_text = #{record.returnText,jdbcType=VARCHAR},
        change_fee = #{record.changeFee,jdbcType=INTEGER},
        change_text = #{record.changeText,jdbcType=VARCHAR},
        pay_id = #{record.payId,jdbcType=VARCHAR},
        pay_amount = #{record.payAmount,jdbcType=INTEGER},
        pay_status = #{record.payStatus,jdbcType=INTEGER},
        pay_time = #{record.payTime,jdbcType=VARCHAR},
        pay_deadline = #{record.payDeadline,jdbcType=VARCHAR},
        contact_name = #{record.contactName,jdbcType=VARCHAR},
        contact_num = #{record.contactNum,jdbcType=VARCHAR},
        contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
        contact_email = #{record.contactEmail,jdbcType=VARCHAR},
        operator = #{record.operator,jdbcType=VARCHAR},
        has_show = #{record.hasShow,jdbcType=INTEGER},
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apin.qunar.order.dao.model.InternationalOrder" >
      update international_order
      <set >
        <if test="merchantNo != null" >
          merchant_no = #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="orderNo != null" >
          order_no = #{orderNo,jdbcType=VARCHAR},
        </if>
        <if test="ticketNo != null" >
          ticket_no = #{ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="packName != null" >
          pack_name = #{packName,jdbcType=VARCHAR},
        </if>
        <if test="goFlightNum != null" >
          go_flight_num = #{goFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="goActFlightNum != null" >
          go_act_flight_num = #{goActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="goFlightTime != null" >
          go_flight_time = #{goFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="goCarrierCode != null" >
          go_carrier_code = #{goCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="goCarrierName != null" >
          go_carrier_name = #{goCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="goStopCnt != null" >
          go_stop_cnt = #{goStopCnt,jdbcType=INTEGER},
        </if>
        <if test="goCabin != null" >
          go_cabin = #{goCabin,jdbcType=VARCHAR},
        </if>
        <if test="goDeptCity != null" >
          go_dept_city = #{goDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="goArriCity != null" >
          go_arri_city = #{goArriCity,jdbcType=VARCHAR},
        </if>
        <if test="goDeptAirportCode != null" >
          go_dept_airport_code = #{goDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="goArriAirportCode != null" >
          go_arri_airport_code = #{goArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="goDeptAirportName != null" >
          go_dept_airport_name = #{goDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="goArriAirportName != null" >
          go_arri_airport_name = #{goArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="goDeptTerminal != null" >
          go_dept_terminal = #{goDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="goArriTerminal != null" >
          go_arri_terminal = #{goArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="goDeptDate != null" >
          go_dept_date = #{goDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="goDeptTime != null" >
          go_dept_time = #{goDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="goArriTime != null" >
          go_arri_time = #{goArriTime,jdbcType=VARCHAR},
        </if>
        <if test="backFlightNum != null" >
          back_flight_num = #{backFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="backActFlightNum != null" >
          back_act_flight_num = #{backActFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="backFlightTime != null" >
          back_flight_time = #{backFlightTime,jdbcType=VARCHAR},
        </if>
        <if test="backCarrierCode != null" >
          back_carrier_code = #{backCarrierCode,jdbcType=VARCHAR},
        </if>
        <if test="backCarrierName != null" >
          back_carrier_name = #{backCarrierName,jdbcType=VARCHAR},
        </if>
        <if test="backStopCnt != null" >
          back_stop_cnt = #{backStopCnt,jdbcType=INTEGER},
        </if>
        <if test="backCabin != null" >
          back_cabin = #{backCabin,jdbcType=VARCHAR},
        </if>
        <if test="backDeptCity != null" >
          back_dept_city = #{backDeptCity,jdbcType=VARCHAR},
        </if>
        <if test="backArriCity != null" >
          back_arri_city = #{backArriCity,jdbcType=VARCHAR},
        </if>
        <if test="backDeptAirportCode != null" >
          back_dept_airport_code = #{backDeptAirportCode,jdbcType=CHAR},
        </if>
        <if test="backArriAirportCode != null" >
          back_arri_airport_code = #{backArriAirportCode,jdbcType=CHAR},
        </if>
        <if test="backDeptAirportName != null" >
          back_dept_airport_name = #{backDeptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="backArriAirportName != null" >
          back_arri_airport_name = #{backArriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="backDeptTerminal != null" >
          back_dept_terminal = #{backDeptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="backArriTerminal != null" >
          back_arri_terminal = #{backArriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="backDeptDate != null" >
          back_dept_date = #{backDeptDate,jdbcType=VARCHAR},
        </if>
        <if test="backDeptTime != null" >
          back_dept_time = #{backDeptTime,jdbcType=VARCHAR},
        </if>
        <if test="backArriTime != null" >
          back_arri_time = #{backArriTime,jdbcType=VARCHAR},
        </if>
        <if test="returnFee != null" >
          return_fee = #{returnFee,jdbcType=INTEGER},
        </if>
        <if test="returnText != null" >
          return_text = #{returnText,jdbcType=VARCHAR},
        </if>
        <if test="changeFee != null" >
          change_fee = #{changeFee,jdbcType=INTEGER},
        </if>
        <if test="changeText != null" >
          change_text = #{changeText,jdbcType=VARCHAR},
        </if>
        <if test="payId != null" >
          pay_id = #{payId,jdbcType=VARCHAR},
        </if>
        <if test="payAmount != null" >
          pay_amount = #{payAmount,jdbcType=INTEGER},
        </if>
        <if test="payStatus != null" >
          pay_status = #{payStatus,jdbcType=INTEGER},
        </if>
        <if test="payTime != null" >
          pay_time = #{payTime,jdbcType=VARCHAR},
        </if>
        <if test="payDeadline != null" >
          pay_deadline = #{payDeadline,jdbcType=VARCHAR},
        </if>
        <if test="contactName != null" >
          contact_name = #{contactName,jdbcType=VARCHAR},
        </if>
        <if test="contactNum != null" >
          contact_num = #{contactNum,jdbcType=VARCHAR},
        </if>
        <if test="contactMobile != null" >
          contact_mobile = #{contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="contactEmail != null" >
          contact_email = #{contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="operator != null" >
          operator = #{operator,jdbcType=VARCHAR},
        </if>
        <if test="hasShow != null" >
          has_show = #{hasShow,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          insert_time = #{insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apin.qunar.order.dao.model.InternationalOrder" >
      update international_order
      set merchant_no = #{merchantNo,jdbcType=CHAR},
        order_no = #{orderNo,jdbcType=VARCHAR},
        ticket_no = #{ticketNo,jdbcType=VARCHAR},
        pack_name = #{packName,jdbcType=VARCHAR},
        go_flight_num = #{goFlightNum,jdbcType=VARCHAR},
        go_act_flight_num = #{goActFlightNum,jdbcType=VARCHAR},
        go_flight_time = #{goFlightTime,jdbcType=VARCHAR},
        go_carrier_code = #{goCarrierCode,jdbcType=VARCHAR},
        go_carrier_name = #{goCarrierName,jdbcType=VARCHAR},
        go_stop_cnt = #{goStopCnt,jdbcType=INTEGER},
        go_cabin = #{goCabin,jdbcType=VARCHAR},
        go_dept_city = #{goDeptCity,jdbcType=VARCHAR},
        go_arri_city = #{goArriCity,jdbcType=VARCHAR},
        go_dept_airport_code = #{goDeptAirportCode,jdbcType=CHAR},
        go_arri_airport_code = #{goArriAirportCode,jdbcType=CHAR},
        go_dept_airport_name = #{goDeptAirportName,jdbcType=VARCHAR},
        go_arri_airport_name = #{goArriAirportName,jdbcType=VARCHAR},
        go_dept_terminal = #{goDeptTerminal,jdbcType=VARCHAR},
        go_arri_terminal = #{goArriTerminal,jdbcType=VARCHAR},
        go_dept_date = #{goDeptDate,jdbcType=VARCHAR},
        go_dept_time = #{goDeptTime,jdbcType=VARCHAR},
        go_arri_time = #{goArriTime,jdbcType=VARCHAR},
        back_flight_num = #{backFlightNum,jdbcType=VARCHAR},
        back_act_flight_num = #{backActFlightNum,jdbcType=VARCHAR},
        back_flight_time = #{backFlightTime,jdbcType=VARCHAR},
        back_carrier_code = #{backCarrierCode,jdbcType=VARCHAR},
        back_carrier_name = #{backCarrierName,jdbcType=VARCHAR},
        back_stop_cnt = #{backStopCnt,jdbcType=INTEGER},
        back_cabin = #{backCabin,jdbcType=VARCHAR},
        back_dept_city = #{backDeptCity,jdbcType=VARCHAR},
        back_arri_city = #{backArriCity,jdbcType=VARCHAR},
        back_dept_airport_code = #{backDeptAirportCode,jdbcType=CHAR},
        back_arri_airport_code = #{backArriAirportCode,jdbcType=CHAR},
        back_dept_airport_name = #{backDeptAirportName,jdbcType=VARCHAR},
        back_arri_airport_name = #{backArriAirportName,jdbcType=VARCHAR},
        back_dept_terminal = #{backDeptTerminal,jdbcType=VARCHAR},
        back_arri_terminal = #{backArriTerminal,jdbcType=VARCHAR},
        back_dept_date = #{backDeptDate,jdbcType=VARCHAR},
        back_dept_time = #{backDeptTime,jdbcType=VARCHAR},
        back_arri_time = #{backArriTime,jdbcType=VARCHAR},
        return_fee = #{returnFee,jdbcType=INTEGER},
        return_text = #{returnText,jdbcType=VARCHAR},
        change_fee = #{changeFee,jdbcType=INTEGER},
        change_text = #{changeText,jdbcType=VARCHAR},
        pay_id = #{payId,jdbcType=VARCHAR},
        pay_amount = #{payAmount,jdbcType=INTEGER},
        pay_status = #{payStatus,jdbcType=INTEGER},
        pay_time = #{payTime,jdbcType=VARCHAR},
        pay_deadline = #{payDeadline,jdbcType=VARCHAR},
        contact_name = #{contactName,jdbcType=VARCHAR},
        contact_num = #{contactNum,jdbcType=VARCHAR},
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
        contact_email = #{contactEmail,jdbcType=VARCHAR},
        operator = #{operator,jdbcType=VARCHAR},
        has_show = #{hasShow,jdbcType=INTEGER},
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      where id = #{id,jdbcType=BIGINT}
    </update>
  </mapper>