<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.apin.qunar.order.dao.mapper.NationalOrderMapper" >
    <resultMap id="NationalOrderResult" type="com.apin.qunar.order.dao.model.NationalOrder" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="merchant_no" property="merchantNo" jdbcType="CHAR" />
      <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
      <result column="order_relation_no" property="orderRelationNo" jdbcType="CHAR" />
      <result column="ticket_no" property="ticketNo" jdbcType="VARCHAR" />
      <result column="client_site" property="clientSite" jdbcType="VARCHAR" />
      <result column="flight_num" property="flightNum" jdbcType="VARCHAR" />
      <result column="act_flight_num" property="actFlightNum" jdbcType="VARCHAR" />
      <result column="flight_time" property="flightTime" jdbcType="VARCHAR" />
      <result column="carrier_code" property="carrierCode" jdbcType="VARCHAR" />
      <result column="carrier_name" property="carrierName" jdbcType="VARCHAR" />
      <result column="stop_cnt" property="stopCnt" jdbcType="INTEGER" />
      <result column="cabin" property="cabin" jdbcType="VARCHAR" />
      <result column="tag" property="tag" jdbcType="VARCHAR" />
      <result column="dept_city" property="deptCity" jdbcType="VARCHAR" />
      <result column="arri_city" property="arriCity" jdbcType="VARCHAR" />
      <result column="dept_airport_code" property="deptAirportCode" jdbcType="CHAR" />
      <result column="arri_airport_code" property="arriAirportCode" jdbcType="CHAR" />
      <result column="dept_airport_name" property="deptAirportName" jdbcType="VARCHAR" />
      <result column="arri_airport_name" property="arriAirportName" jdbcType="VARCHAR" />
      <result column="dept_terminal" property="deptTerminal" jdbcType="VARCHAR" />
      <result column="arri_terminal" property="arriTerminal" jdbcType="VARCHAR" />
      <result column="dept_date" property="deptDate" jdbcType="VARCHAR" />
      <result column="dept_time" property="deptTime" jdbcType="VARCHAR" />
      <result column="arri_time" property="arriTime" jdbcType="VARCHAR" />
      <result column="fuel_tax" property="fuelTax" jdbcType="INTEGER" />
      <result column="construction_fee" property="constructionFee" jdbcType="INTEGER" />
      <result column="return_fee" property="returnFee" jdbcType="INTEGER" />
      <result column="return_text" property="returnText" jdbcType="VARCHAR" />
      <result column="change_fee" property="changeFee" jdbcType="INTEGER" />
      <result column="change_text" property="changeText" jdbcType="VARCHAR" />
      <result column="print_price" property="printPrice" jdbcType="INTEGER" />
      <result column="code_share" property="codeShare" jdbcType="INTEGER" />
      <result column="publish_price" property="publishPrice" jdbcType="INTEGER" />
      <result column="pay_id" property="payId" jdbcType="VARCHAR" />
      <result column="pay_order_id" property="payOrderId" jdbcType="VARCHAR" />
      <result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
      <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
      <result column="pay_time" property="payTime" jdbcType="VARCHAR" />
      <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
      <result column="contact_num" property="contactNum" jdbcType="VARCHAR" />
      <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
      <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
      <result column="operator" property="operator" jdbcType="VARCHAR" />
      <result column="has_show" property="hasShow" jdbcType="INTEGER" />
      <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="NationalOrderColumns" >
      id, merchant_no, order_no, order_relation_no, ticket_no, client_site, flight_num, 
      act_flight_num, flight_time, carrier_code, carrier_name, stop_cnt, cabin, tag, dept_city, 
      arri_city, dept_airport_code, arri_airport_code, dept_airport_name, arri_airport_name, 
      dept_terminal, arri_terminal, dept_date, dept_time, arri_time, fuel_tax, construction_fee, 
      return_fee, return_text, change_fee, change_text, print_price, code_share, publish_price, 
      pay_id, pay_order_id, pay_amount, pay_status, pay_time, contact_name, contact_num, 
      contact_mobile, contact_email, operator, has_show, insert_time, update_time
    </sql>
    <select id="selectByExample" resultMap="NationalOrderResult" parameterType="com.apin.qunar.order.dao.model.NationalOrderExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="NationalOrderColumns" />
      from national_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="NationalOrderResult" parameterType="java.lang.Long" >
      select 
      <include refid="NationalOrderColumns" />
      from national_order
      where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
      delete from national_order
      where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.apin.qunar.order.dao.model.NationalOrderExample" >
      delete from national_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.apin.qunar.order.dao.model.NationalOrder" >
      insert into national_order (id, merchant_no, order_no, 
        order_relation_no, ticket_no, client_site, 
        flight_num, act_flight_num, flight_time, 
        carrier_code, carrier_name, stop_cnt, 
        cabin, tag, dept_city, 
        arri_city, dept_airport_code, arri_airport_code, 
        dept_airport_name, arri_airport_name, dept_terminal, 
        arri_terminal, dept_date, dept_time, 
        arri_time, fuel_tax, construction_fee, 
        return_fee, return_text, change_fee, 
        change_text, print_price, code_share, 
        publish_price, pay_id, pay_order_id, 
        pay_amount, pay_status, pay_time, 
        contact_name, contact_num, contact_mobile, 
        contact_email, operator, has_show, 
        insert_time, update_time)
      values (#{id,jdbcType=BIGINT}, #{merchantNo,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, 
        #{orderRelationNo,jdbcType=CHAR}, #{ticketNo,jdbcType=VARCHAR}, #{clientSite,jdbcType=VARCHAR}, 
        #{flightNum,jdbcType=VARCHAR}, #{actFlightNum,jdbcType=VARCHAR}, #{flightTime,jdbcType=VARCHAR}, 
        #{carrierCode,jdbcType=VARCHAR}, #{carrierName,jdbcType=VARCHAR}, #{stopCnt,jdbcType=INTEGER}, 
        #{cabin,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{deptCity,jdbcType=VARCHAR}, 
        #{arriCity,jdbcType=VARCHAR}, #{deptAirportCode,jdbcType=CHAR}, #{arriAirportCode,jdbcType=CHAR}, 
        #{deptAirportName,jdbcType=VARCHAR}, #{arriAirportName,jdbcType=VARCHAR}, #{deptTerminal,jdbcType=VARCHAR}, 
        #{arriTerminal,jdbcType=VARCHAR}, #{deptDate,jdbcType=VARCHAR}, #{deptTime,jdbcType=VARCHAR}, 
        #{arriTime,jdbcType=VARCHAR}, #{fuelTax,jdbcType=INTEGER}, #{constructionFee,jdbcType=INTEGER}, 
        #{returnFee,jdbcType=INTEGER}, #{returnText,jdbcType=VARCHAR}, #{changeFee,jdbcType=INTEGER}, 
        #{changeText,jdbcType=VARCHAR}, #{printPrice,jdbcType=INTEGER}, #{codeShare,jdbcType=INTEGER}, 
        #{publishPrice,jdbcType=INTEGER}, #{payId,jdbcType=VARCHAR}, #{payOrderId,jdbcType=VARCHAR}, 
        #{payAmount,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, #{payTime,jdbcType=VARCHAR}, 
        #{contactName,jdbcType=VARCHAR}, #{contactNum,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, 
        #{contactEmail,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{hasShow,jdbcType=INTEGER}, 
        #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.apin.qunar.order.dao.model.NationalOrder" >
      insert into national_order
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="merchantNo != null" >
          merchant_no,
        </if>
        <if test="orderNo != null" >
          order_no,
        </if>
        <if test="orderRelationNo != null" >
          order_relation_no,
        </if>
        <if test="ticketNo != null" >
          ticket_no,
        </if>
        <if test="clientSite != null" >
          client_site,
        </if>
        <if test="flightNum != null" >
          flight_num,
        </if>
        <if test="actFlightNum != null" >
          act_flight_num,
        </if>
        <if test="flightTime != null" >
          flight_time,
        </if>
        <if test="carrierCode != null" >
          carrier_code,
        </if>
        <if test="carrierName != null" >
          carrier_name,
        </if>
        <if test="stopCnt != null" >
          stop_cnt,
        </if>
        <if test="cabin != null" >
          cabin,
        </if>
        <if test="tag != null" >
          tag,
        </if>
        <if test="deptCity != null" >
          dept_city,
        </if>
        <if test="arriCity != null" >
          arri_city,
        </if>
        <if test="deptAirportCode != null" >
          dept_airport_code,
        </if>
        <if test="arriAirportCode != null" >
          arri_airport_code,
        </if>
        <if test="deptAirportName != null" >
          dept_airport_name,
        </if>
        <if test="arriAirportName != null" >
          arri_airport_name,
        </if>
        <if test="deptTerminal != null" >
          dept_terminal,
        </if>
        <if test="arriTerminal != null" >
          arri_terminal,
        </if>
        <if test="deptDate != null" >
          dept_date,
        </if>
        <if test="deptTime != null" >
          dept_time,
        </if>
        <if test="arriTime != null" >
          arri_time,
        </if>
        <if test="fuelTax != null" >
          fuel_tax,
        </if>
        <if test="constructionFee != null" >
          construction_fee,
        </if>
        <if test="returnFee != null" >
          return_fee,
        </if>
        <if test="returnText != null" >
          return_text,
        </if>
        <if test="changeFee != null" >
          change_fee,
        </if>
        <if test="changeText != null" >
          change_text,
        </if>
        <if test="printPrice != null" >
          print_price,
        </if>
        <if test="codeShare != null" >
          code_share,
        </if>
        <if test="publishPrice != null" >
          publish_price,
        </if>
        <if test="payId != null" >
          pay_id,
        </if>
        <if test="payOrderId != null" >
          pay_order_id,
        </if>
        <if test="payAmount != null" >
          pay_amount,
        </if>
        <if test="payStatus != null" >
          pay_status,
        </if>
        <if test="payTime != null" >
          pay_time,
        </if>
        <if test="contactName != null" >
          contact_name,
        </if>
        <if test="contactNum != null" >
          contact_num,
        </if>
        <if test="contactMobile != null" >
          contact_mobile,
        </if>
        <if test="contactEmail != null" >
          contact_email,
        </if>
        <if test="operator != null" >
          operator,
        </if>
        <if test="hasShow != null" >
          has_show,
        </if>
        <if test="insertTime != null" >
          insert_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="merchantNo != null" >
          #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="orderNo != null" >
          #{orderNo,jdbcType=VARCHAR},
        </if>
        <if test="orderRelationNo != null" >
          #{orderRelationNo,jdbcType=CHAR},
        </if>
        <if test="ticketNo != null" >
          #{ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="clientSite != null" >
          #{clientSite,jdbcType=VARCHAR},
        </if>
        <if test="flightNum != null" >
          #{flightNum,jdbcType=VARCHAR},
        </if>
        <if test="actFlightNum != null" >
          #{actFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="flightTime != null" >
          #{flightTime,jdbcType=VARCHAR},
        </if>
        <if test="carrierCode != null" >
          #{carrierCode,jdbcType=VARCHAR},
        </if>
        <if test="carrierName != null" >
          #{carrierName,jdbcType=VARCHAR},
        </if>
        <if test="stopCnt != null" >
          #{stopCnt,jdbcType=INTEGER},
        </if>
        <if test="cabin != null" >
          #{cabin,jdbcType=VARCHAR},
        </if>
        <if test="tag != null" >
          #{tag,jdbcType=VARCHAR},
        </if>
        <if test="deptCity != null" >
          #{deptCity,jdbcType=VARCHAR},
        </if>
        <if test="arriCity != null" >
          #{arriCity,jdbcType=VARCHAR},
        </if>
        <if test="deptAirportCode != null" >
          #{deptAirportCode,jdbcType=CHAR},
        </if>
        <if test="arriAirportCode != null" >
          #{arriAirportCode,jdbcType=CHAR},
        </if>
        <if test="deptAirportName != null" >
          #{deptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="arriAirportName != null" >
          #{arriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="deptTerminal != null" >
          #{deptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="arriTerminal != null" >
          #{arriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="deptDate != null" >
          #{deptDate,jdbcType=VARCHAR},
        </if>
        <if test="deptTime != null" >
          #{deptTime,jdbcType=VARCHAR},
        </if>
        <if test="arriTime != null" >
          #{arriTime,jdbcType=VARCHAR},
        </if>
        <if test="fuelTax != null" >
          #{fuelTax,jdbcType=INTEGER},
        </if>
        <if test="constructionFee != null" >
          #{constructionFee,jdbcType=INTEGER},
        </if>
        <if test="returnFee != null" >
          #{returnFee,jdbcType=INTEGER},
        </if>
        <if test="returnText != null" >
          #{returnText,jdbcType=VARCHAR},
        </if>
        <if test="changeFee != null" >
          #{changeFee,jdbcType=INTEGER},
        </if>
        <if test="changeText != null" >
          #{changeText,jdbcType=VARCHAR},
        </if>
        <if test="printPrice != null" >
          #{printPrice,jdbcType=INTEGER},
        </if>
        <if test="codeShare != null" >
          #{codeShare,jdbcType=INTEGER},
        </if>
        <if test="publishPrice != null" >
          #{publishPrice,jdbcType=INTEGER},
        </if>
        <if test="payId != null" >
          #{payId,jdbcType=VARCHAR},
        </if>
        <if test="payOrderId != null" >
          #{payOrderId,jdbcType=VARCHAR},
        </if>
        <if test="payAmount != null" >
          #{payAmount,jdbcType=INTEGER},
        </if>
        <if test="payStatus != null" >
          #{payStatus,jdbcType=INTEGER},
        </if>
        <if test="payTime != null" >
          #{payTime,jdbcType=VARCHAR},
        </if>
        <if test="contactName != null" >
          #{contactName,jdbcType=VARCHAR},
        </if>
        <if test="contactNum != null" >
          #{contactNum,jdbcType=VARCHAR},
        </if>
        <if test="contactMobile != null" >
          #{contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="contactEmail != null" >
          #{contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="operator != null" >
          #{operator,jdbcType=VARCHAR},
        </if>
        <if test="hasShow != null" >
          #{hasShow,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          #{insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          #{updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.apin.qunar.order.dao.model.NationalOrderExample" resultType="java.lang.Integer" >
      select count(*) from national_order
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update national_order
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=BIGINT},
        </if>
        <if test="record.merchantNo != null" >
          merchant_no = #{record.merchantNo,jdbcType=CHAR},
        </if>
        <if test="record.orderNo != null" >
          order_no = #{record.orderNo,jdbcType=VARCHAR},
        </if>
        <if test="record.orderRelationNo != null" >
          order_relation_no = #{record.orderRelationNo,jdbcType=CHAR},
        </if>
        <if test="record.ticketNo != null" >
          ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="record.clientSite != null" >
          client_site = #{record.clientSite,jdbcType=VARCHAR},
        </if>
        <if test="record.flightNum != null" >
          flight_num = #{record.flightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.actFlightNum != null" >
          act_flight_num = #{record.actFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="record.flightTime != null" >
          flight_time = #{record.flightTime,jdbcType=VARCHAR},
        </if>
        <if test="record.carrierCode != null" >
          carrier_code = #{record.carrierCode,jdbcType=VARCHAR},
        </if>
        <if test="record.carrierName != null" >
          carrier_name = #{record.carrierName,jdbcType=VARCHAR},
        </if>
        <if test="record.stopCnt != null" >
          stop_cnt = #{record.stopCnt,jdbcType=INTEGER},
        </if>
        <if test="record.cabin != null" >
          cabin = #{record.cabin,jdbcType=VARCHAR},
        </if>
        <if test="record.tag != null" >
          tag = #{record.tag,jdbcType=VARCHAR},
        </if>
        <if test="record.deptCity != null" >
          dept_city = #{record.deptCity,jdbcType=VARCHAR},
        </if>
        <if test="record.arriCity != null" >
          arri_city = #{record.arriCity,jdbcType=VARCHAR},
        </if>
        <if test="record.deptAirportCode != null" >
          dept_airport_code = #{record.deptAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.arriAirportCode != null" >
          arri_airport_code = #{record.arriAirportCode,jdbcType=CHAR},
        </if>
        <if test="record.deptAirportName != null" >
          dept_airport_name = #{record.deptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.arriAirportName != null" >
          arri_airport_name = #{record.arriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="record.deptTerminal != null" >
          dept_terminal = #{record.deptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.arriTerminal != null" >
          arri_terminal = #{record.arriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="record.deptDate != null" >
          dept_date = #{record.deptDate,jdbcType=VARCHAR},
        </if>
        <if test="record.deptTime != null" >
          dept_time = #{record.deptTime,jdbcType=VARCHAR},
        </if>
        <if test="record.arriTime != null" >
          arri_time = #{record.arriTime,jdbcType=VARCHAR},
        </if>
        <if test="record.fuelTax != null" >
          fuel_tax = #{record.fuelTax,jdbcType=INTEGER},
        </if>
        <if test="record.constructionFee != null" >
          construction_fee = #{record.constructionFee,jdbcType=INTEGER},
        </if>
        <if test="record.returnFee != null" >
          return_fee = #{record.returnFee,jdbcType=INTEGER},
        </if>
        <if test="record.returnText != null" >
          return_text = #{record.returnText,jdbcType=VARCHAR},
        </if>
        <if test="record.changeFee != null" >
          change_fee = #{record.changeFee,jdbcType=INTEGER},
        </if>
        <if test="record.changeText != null" >
          change_text = #{record.changeText,jdbcType=VARCHAR},
        </if>
        <if test="record.printPrice != null" >
          print_price = #{record.printPrice,jdbcType=INTEGER},
        </if>
        <if test="record.codeShare != null" >
          code_share = #{record.codeShare,jdbcType=INTEGER},
        </if>
        <if test="record.publishPrice != null" >
          publish_price = #{record.publishPrice,jdbcType=INTEGER},
        </if>
        <if test="record.payId != null" >
          pay_id = #{record.payId,jdbcType=VARCHAR},
        </if>
        <if test="record.payOrderId != null" >
          pay_order_id = #{record.payOrderId,jdbcType=VARCHAR},
        </if>
        <if test="record.payAmount != null" >
          pay_amount = #{record.payAmount,jdbcType=INTEGER},
        </if>
        <if test="record.payStatus != null" >
          pay_status = #{record.payStatus,jdbcType=INTEGER},
        </if>
        <if test="record.payTime != null" >
          pay_time = #{record.payTime,jdbcType=VARCHAR},
        </if>
        <if test="record.contactName != null" >
          contact_name = #{record.contactName,jdbcType=VARCHAR},
        </if>
        <if test="record.contactNum != null" >
          contact_num = #{record.contactNum,jdbcType=VARCHAR},
        </if>
        <if test="record.contactMobile != null" >
          contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="record.contactEmail != null" >
          contact_email = #{record.contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="record.operator != null" >
          operator = #{record.operator,jdbcType=VARCHAR},
        </if>
        <if test="record.hasShow != null" >
          has_show = #{record.hasShow,jdbcType=INTEGER},
        </if>
        <if test="record.insertTime != null" >
          insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateTime != null" >
          update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update national_order
      set id = #{record.id,jdbcType=BIGINT},
        merchant_no = #{record.merchantNo,jdbcType=CHAR},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        order_relation_no = #{record.orderRelationNo,jdbcType=CHAR},
        ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
        client_site = #{record.clientSite,jdbcType=VARCHAR},
        flight_num = #{record.flightNum,jdbcType=VARCHAR},
        act_flight_num = #{record.actFlightNum,jdbcType=VARCHAR},
        flight_time = #{record.flightTime,jdbcType=VARCHAR},
        carrier_code = #{record.carrierCode,jdbcType=VARCHAR},
        carrier_name = #{record.carrierName,jdbcType=VARCHAR},
        stop_cnt = #{record.stopCnt,jdbcType=INTEGER},
        cabin = #{record.cabin,jdbcType=VARCHAR},
        tag = #{record.tag,jdbcType=VARCHAR},
        dept_city = #{record.deptCity,jdbcType=VARCHAR},
        arri_city = #{record.arriCity,jdbcType=VARCHAR},
        dept_airport_code = #{record.deptAirportCode,jdbcType=CHAR},
        arri_airport_code = #{record.arriAirportCode,jdbcType=CHAR},
        dept_airport_name = #{record.deptAirportName,jdbcType=VARCHAR},
        arri_airport_name = #{record.arriAirportName,jdbcType=VARCHAR},
        dept_terminal = #{record.deptTerminal,jdbcType=VARCHAR},
        arri_terminal = #{record.arriTerminal,jdbcType=VARCHAR},
        dept_date = #{record.deptDate,jdbcType=VARCHAR},
        dept_time = #{record.deptTime,jdbcType=VARCHAR},
        arri_time = #{record.arriTime,jdbcType=VARCHAR},
        fuel_tax = #{record.fuelTax,jdbcType=INTEGER},
        construction_fee = #{record.constructionFee,jdbcType=INTEGER},
        return_fee = #{record.returnFee,jdbcType=INTEGER},
        return_text = #{record.returnText,jdbcType=VARCHAR},
        change_fee = #{record.changeFee,jdbcType=INTEGER},
        change_text = #{record.changeText,jdbcType=VARCHAR},
        print_price = #{record.printPrice,jdbcType=INTEGER},
        code_share = #{record.codeShare,jdbcType=INTEGER},
        publish_price = #{record.publishPrice,jdbcType=INTEGER},
        pay_id = #{record.payId,jdbcType=VARCHAR},
        pay_order_id = #{record.payOrderId,jdbcType=VARCHAR},
        pay_amount = #{record.payAmount,jdbcType=INTEGER},
        pay_status = #{record.payStatus,jdbcType=INTEGER},
        pay_time = #{record.payTime,jdbcType=VARCHAR},
        contact_name = #{record.contactName,jdbcType=VARCHAR},
        contact_num = #{record.contactNum,jdbcType=VARCHAR},
        contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
        contact_email = #{record.contactEmail,jdbcType=VARCHAR},
        operator = #{record.operator,jdbcType=VARCHAR},
        has_show = #{record.hasShow,jdbcType=INTEGER},
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apin.qunar.order.dao.model.NationalOrder" >
      update national_order
      <set >
        <if test="merchantNo != null" >
          merchant_no = #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="orderNo != null" >
          order_no = #{orderNo,jdbcType=VARCHAR},
        </if>
        <if test="orderRelationNo != null" >
          order_relation_no = #{orderRelationNo,jdbcType=CHAR},
        </if>
        <if test="ticketNo != null" >
          ticket_no = #{ticketNo,jdbcType=VARCHAR},
        </if>
        <if test="clientSite != null" >
          client_site = #{clientSite,jdbcType=VARCHAR},
        </if>
        <if test="flightNum != null" >
          flight_num = #{flightNum,jdbcType=VARCHAR},
        </if>
        <if test="actFlightNum != null" >
          act_flight_num = #{actFlightNum,jdbcType=VARCHAR},
        </if>
        <if test="flightTime != null" >
          flight_time = #{flightTime,jdbcType=VARCHAR},
        </if>
        <if test="carrierCode != null" >
          carrier_code = #{carrierCode,jdbcType=VARCHAR},
        </if>
        <if test="carrierName != null" >
          carrier_name = #{carrierName,jdbcType=VARCHAR},
        </if>
        <if test="stopCnt != null" >
          stop_cnt = #{stopCnt,jdbcType=INTEGER},
        </if>
        <if test="cabin != null" >
          cabin = #{cabin,jdbcType=VARCHAR},
        </if>
        <if test="tag != null" >
          tag = #{tag,jdbcType=VARCHAR},
        </if>
        <if test="deptCity != null" >
          dept_city = #{deptCity,jdbcType=VARCHAR},
        </if>
        <if test="arriCity != null" >
          arri_city = #{arriCity,jdbcType=VARCHAR},
        </if>
        <if test="deptAirportCode != null" >
          dept_airport_code = #{deptAirportCode,jdbcType=CHAR},
        </if>
        <if test="arriAirportCode != null" >
          arri_airport_code = #{arriAirportCode,jdbcType=CHAR},
        </if>
        <if test="deptAirportName != null" >
          dept_airport_name = #{deptAirportName,jdbcType=VARCHAR},
        </if>
        <if test="arriAirportName != null" >
          arri_airport_name = #{arriAirportName,jdbcType=VARCHAR},
        </if>
        <if test="deptTerminal != null" >
          dept_terminal = #{deptTerminal,jdbcType=VARCHAR},
        </if>
        <if test="arriTerminal != null" >
          arri_terminal = #{arriTerminal,jdbcType=VARCHAR},
        </if>
        <if test="deptDate != null" >
          dept_date = #{deptDate,jdbcType=VARCHAR},
        </if>
        <if test="deptTime != null" >
          dept_time = #{deptTime,jdbcType=VARCHAR},
        </if>
        <if test="arriTime != null" >
          arri_time = #{arriTime,jdbcType=VARCHAR},
        </if>
        <if test="fuelTax != null" >
          fuel_tax = #{fuelTax,jdbcType=INTEGER},
        </if>
        <if test="constructionFee != null" >
          construction_fee = #{constructionFee,jdbcType=INTEGER},
        </if>
        <if test="returnFee != null" >
          return_fee = #{returnFee,jdbcType=INTEGER},
        </if>
        <if test="returnText != null" >
          return_text = #{returnText,jdbcType=VARCHAR},
        </if>
        <if test="changeFee != null" >
          change_fee = #{changeFee,jdbcType=INTEGER},
        </if>
        <if test="changeText != null" >
          change_text = #{changeText,jdbcType=VARCHAR},
        </if>
        <if test="printPrice != null" >
          print_price = #{printPrice,jdbcType=INTEGER},
        </if>
        <if test="codeShare != null" >
          code_share = #{codeShare,jdbcType=INTEGER},
        </if>
        <if test="publishPrice != null" >
          publish_price = #{publishPrice,jdbcType=INTEGER},
        </if>
        <if test="payId != null" >
          pay_id = #{payId,jdbcType=VARCHAR},
        </if>
        <if test="payOrderId != null" >
          pay_order_id = #{payOrderId,jdbcType=VARCHAR},
        </if>
        <if test="payAmount != null" >
          pay_amount = #{payAmount,jdbcType=INTEGER},
        </if>
        <if test="payStatus != null" >
          pay_status = #{payStatus,jdbcType=INTEGER},
        </if>
        <if test="payTime != null" >
          pay_time = #{payTime,jdbcType=VARCHAR},
        </if>
        <if test="contactName != null" >
          contact_name = #{contactName,jdbcType=VARCHAR},
        </if>
        <if test="contactNum != null" >
          contact_num = #{contactNum,jdbcType=VARCHAR},
        </if>
        <if test="contactMobile != null" >
          contact_mobile = #{contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="contactEmail != null" >
          contact_email = #{contactEmail,jdbcType=VARCHAR},
        </if>
        <if test="operator != null" >
          operator = #{operator,jdbcType=VARCHAR},
        </if>
        <if test="hasShow != null" >
          has_show = #{hasShow,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          insert_time = #{insertTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apin.qunar.order.dao.model.NationalOrder" >
      update national_order
      set merchant_no = #{merchantNo,jdbcType=CHAR},
        order_no = #{orderNo,jdbcType=VARCHAR},
        order_relation_no = #{orderRelationNo,jdbcType=CHAR},
        ticket_no = #{ticketNo,jdbcType=VARCHAR},
        client_site = #{clientSite,jdbcType=VARCHAR},
        flight_num = #{flightNum,jdbcType=VARCHAR},
        act_flight_num = #{actFlightNum,jdbcType=VARCHAR},
        flight_time = #{flightTime,jdbcType=VARCHAR},
        carrier_code = #{carrierCode,jdbcType=VARCHAR},
        carrier_name = #{carrierName,jdbcType=VARCHAR},
        stop_cnt = #{stopCnt,jdbcType=INTEGER},
        cabin = #{cabin,jdbcType=VARCHAR},
        tag = #{tag,jdbcType=VARCHAR},
        dept_city = #{deptCity,jdbcType=VARCHAR},
        arri_city = #{arriCity,jdbcType=VARCHAR},
        dept_airport_code = #{deptAirportCode,jdbcType=CHAR},
        arri_airport_code = #{arriAirportCode,jdbcType=CHAR},
        dept_airport_name = #{deptAirportName,jdbcType=VARCHAR},
        arri_airport_name = #{arriAirportName,jdbcType=VARCHAR},
        dept_terminal = #{deptTerminal,jdbcType=VARCHAR},
        arri_terminal = #{arriTerminal,jdbcType=VARCHAR},
        dept_date = #{deptDate,jdbcType=VARCHAR},
        dept_time = #{deptTime,jdbcType=VARCHAR},
        arri_time = #{arriTime,jdbcType=VARCHAR},
        fuel_tax = #{fuelTax,jdbcType=INTEGER},
        construction_fee = #{constructionFee,jdbcType=INTEGER},
        return_fee = #{returnFee,jdbcType=INTEGER},
        return_text = #{returnText,jdbcType=VARCHAR},
        change_fee = #{changeFee,jdbcType=INTEGER},
        change_text = #{changeText,jdbcType=VARCHAR},
        print_price = #{printPrice,jdbcType=INTEGER},
        code_share = #{codeShare,jdbcType=INTEGER},
        publish_price = #{publishPrice,jdbcType=INTEGER},
        pay_id = #{payId,jdbcType=VARCHAR},
        pay_order_id = #{payOrderId,jdbcType=VARCHAR},
        pay_amount = #{payAmount,jdbcType=INTEGER},
        pay_status = #{payStatus,jdbcType=INTEGER},
        pay_time = #{payTime,jdbcType=VARCHAR},
        contact_name = #{contactName,jdbcType=VARCHAR},
        contact_num = #{contactNum,jdbcType=VARCHAR},
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
        contact_email = #{contactEmail,jdbcType=VARCHAR},
        operator = #{operator,jdbcType=VARCHAR},
        has_show = #{hasShow,jdbcType=INTEGER},
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      where id = #{id,jdbcType=BIGINT}
    </update>
  </mapper>