<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.apin.qunar.statistics.dao.mapper.DayMerchantStatisticsMapper" >
    <resultMap id="DayMerchantStatisticsResult" type="com.apin.qunar.statistics.dao.model.DayMerchantStatistics" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="merchant_no" property="merchantNo" jdbcType="CHAR" />
      <result column="national_search_flight_cnt" property="nationalSearchFlightCnt" jdbcType="INTEGER" />
      <result column="international_search_flight_cnt" property="internationalSearchFlightCnt" jdbcType="INTEGER" />
      <result column="national_deal_order_cnt" property="nationalDealOrderCnt" jdbcType="INTEGER" />
      <result column="international_deal_order_cnt" property="internationalDealOrderCnt" jdbcType="INTEGER" />
      <result column="national_deal_total_amount" property="nationalDealTotalAmount" jdbcType="INTEGER" />
      <result column="international_total_amount" property="internationalTotalAmount" jdbcType="INTEGER" />
      <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="DayMerchantStatisticsColumns" >
      id, merchant_no, national_search_flight_cnt, international_search_flight_cnt, national_deal_order_cnt, 
      international_deal_order_cnt, national_deal_total_amount, international_total_amount, 
      insert_time
    </sql>
    <select id="selectByExample" resultMap="DayMerchantStatisticsResult" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatisticsExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="DayMerchantStatisticsColumns" />
      from day_merchant_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="DayMerchantStatisticsResult" parameterType="java.lang.Long" >
      select 
      <include refid="DayMerchantStatisticsColumns" />
      from day_merchant_statistics
      where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
      delete from day_merchant_statistics
      where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatisticsExample" >
      delete from day_merchant_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatistics" >
      insert into day_merchant_statistics (id, merchant_no, national_search_flight_cnt, 
        international_search_flight_cnt, national_deal_order_cnt, 
        international_deal_order_cnt, national_deal_total_amount, 
        international_total_amount, insert_time)
      values (#{id,jdbcType=BIGINT}, #{merchantNo,jdbcType=CHAR}, #{nationalSearchFlightCnt,jdbcType=INTEGER}, 
        #{internationalSearchFlightCnt,jdbcType=INTEGER}, #{nationalDealOrderCnt,jdbcType=INTEGER}, 
        #{internationalDealOrderCnt,jdbcType=INTEGER}, #{nationalDealTotalAmount,jdbcType=INTEGER}, 
        #{internationalTotalAmount,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatistics" >
      insert into day_merchant_statistics
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="merchantNo != null" >
          merchant_no,
        </if>
        <if test="nationalSearchFlightCnt != null" >
          national_search_flight_cnt,
        </if>
        <if test="internationalSearchFlightCnt != null" >
          international_search_flight_cnt,
        </if>
        <if test="nationalDealOrderCnt != null" >
          national_deal_order_cnt,
        </if>
        <if test="internationalDealOrderCnt != null" >
          international_deal_order_cnt,
        </if>
        <if test="nationalDealTotalAmount != null" >
          national_deal_total_amount,
        </if>
        <if test="internationalTotalAmount != null" >
          international_total_amount,
        </if>
        <if test="insertTime != null" >
          insert_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="merchantNo != null" >
          #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="nationalSearchFlightCnt != null" >
          #{nationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="internationalSearchFlightCnt != null" >
          #{internationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="nationalDealOrderCnt != null" >
          #{nationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="internationalDealOrderCnt != null" >
          #{internationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="nationalDealTotalAmount != null" >
          #{nationalDealTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="internationalTotalAmount != null" >
          #{internationalTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          #{insertTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatisticsExample" resultType="java.lang.Integer" >
      select count(*) from day_merchant_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update day_merchant_statistics
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=BIGINT},
        </if>
        <if test="record.merchantNo != null" >
          merchant_no = #{record.merchantNo,jdbcType=CHAR},
        </if>
        <if test="record.nationalSearchFlightCnt != null" >
          national_search_flight_cnt = #{record.nationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="record.internationalSearchFlightCnt != null" >
          international_search_flight_cnt = #{record.internationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="record.nationalDealOrderCnt != null" >
          national_deal_order_cnt = #{record.nationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="record.internationalDealOrderCnt != null" >
          international_deal_order_cnt = #{record.internationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="record.nationalDealTotalAmount != null" >
          national_deal_total_amount = #{record.nationalDealTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="record.internationalTotalAmount != null" >
          international_total_amount = #{record.internationalTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="record.insertTime != null" >
          insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update day_merchant_statistics
      set id = #{record.id,jdbcType=BIGINT},
        merchant_no = #{record.merchantNo,jdbcType=CHAR},
        national_search_flight_cnt = #{record.nationalSearchFlightCnt,jdbcType=INTEGER},
        international_search_flight_cnt = #{record.internationalSearchFlightCnt,jdbcType=INTEGER},
        national_deal_order_cnt = #{record.nationalDealOrderCnt,jdbcType=INTEGER},
        international_deal_order_cnt = #{record.internationalDealOrderCnt,jdbcType=INTEGER},
        national_deal_total_amount = #{record.nationalDealTotalAmount,jdbcType=INTEGER},
        international_total_amount = #{record.internationalTotalAmount,jdbcType=INTEGER},
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatistics" >
      update day_merchant_statistics
      <set >
        <if test="merchantNo != null" >
          merchant_no = #{merchantNo,jdbcType=CHAR},
        </if>
        <if test="nationalSearchFlightCnt != null" >
          national_search_flight_cnt = #{nationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="internationalSearchFlightCnt != null" >
          international_search_flight_cnt = #{internationalSearchFlightCnt,jdbcType=INTEGER},
        </if>
        <if test="nationalDealOrderCnt != null" >
          national_deal_order_cnt = #{nationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="internationalDealOrderCnt != null" >
          international_deal_order_cnt = #{internationalDealOrderCnt,jdbcType=INTEGER},
        </if>
        <if test="nationalDealTotalAmount != null" >
          national_deal_total_amount = #{nationalDealTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="internationalTotalAmount != null" >
          international_total_amount = #{internationalTotalAmount,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          insert_time = #{insertTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apin.qunar.statistics.dao.model.DayMerchantStatistics" >
      update day_merchant_statistics
      set merchant_no = #{merchantNo,jdbcType=CHAR},
        national_search_flight_cnt = #{nationalSearchFlightCnt,jdbcType=INTEGER},
        international_search_flight_cnt = #{internationalSearchFlightCnt,jdbcType=INTEGER},
        national_deal_order_cnt = #{nationalDealOrderCnt,jdbcType=INTEGER},
        international_deal_order_cnt = #{internationalDealOrderCnt,jdbcType=INTEGER},
        national_deal_total_amount = #{nationalDealTotalAmount,jdbcType=INTEGER},
        international_total_amount = #{internationalTotalAmount,jdbcType=INTEGER},
        insert_time = #{insertTime,jdbcType=TIMESTAMP}
      where id = #{id,jdbcType=BIGINT}
    </update>
  </mapper>