<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.apin.qunar.statistics.dao.mapper.InternationalSearchCityStatisticsMapper" >
    <resultMap id="InternationalSearchCityStatisticsResult" type="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatistics" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="account" property="account" jdbcType="VARCHAR" />
      <result column="go_back_type" property="goBackType" jdbcType="INTEGER" />
      <result column="city" property="city" jdbcType="VARCHAR" />
      <result column="search_cnt" property="searchCnt" jdbcType="INTEGER" />
      <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="InternationalSearchCityStatisticsColumns" >
      id, account, go_back_type, city, search_cnt, insert_time
    </sql>
    <select id="selectByExample" resultMap="InternationalSearchCityStatisticsResult" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatisticsExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="InternationalSearchCityStatisticsColumns" />
      from international_search_city_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="InternationalSearchCityStatisticsResult" parameterType="java.lang.Long" >
      select 
      <include refid="InternationalSearchCityStatisticsColumns" />
      from international_search_city_statistics
      where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
      delete from international_search_city_statistics
      where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatisticsExample" >
      delete from international_search_city_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatistics" >
      insert into international_search_city_statistics (id, account, go_back_type, 
        city, search_cnt, insert_time
        )
      values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{goBackType,jdbcType=INTEGER}, 
        #{city,jdbcType=VARCHAR}, #{searchCnt,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatistics" >
      insert into international_search_city_statistics
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="account != null" >
          account,
        </if>
        <if test="goBackType != null" >
          go_back_type,
        </if>
        <if test="city != null" >
          city,
        </if>
        <if test="searchCnt != null" >
          search_cnt,
        </if>
        <if test="insertTime != null" >
          insert_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="account != null" >
          #{account,jdbcType=VARCHAR},
        </if>
        <if test="goBackType != null" >
          #{goBackType,jdbcType=INTEGER},
        </if>
        <if test="city != null" >
          #{city,jdbcType=VARCHAR},
        </if>
        <if test="searchCnt != null" >
          #{searchCnt,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          #{insertTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatisticsExample" resultType="java.lang.Integer" >
      select count(*) from international_search_city_statistics
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update international_search_city_statistics
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=BIGINT},
        </if>
        <if test="record.account != null" >
          account = #{record.account,jdbcType=VARCHAR},
        </if>
        <if test="record.goBackType != null" >
          go_back_type = #{record.goBackType,jdbcType=INTEGER},
        </if>
        <if test="record.city != null" >
          city = #{record.city,jdbcType=VARCHAR},
        </if>
        <if test="record.searchCnt != null" >
          search_cnt = #{record.searchCnt,jdbcType=INTEGER},
        </if>
        <if test="record.insertTime != null" >
          insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update international_search_city_statistics
      set id = #{record.id,jdbcType=BIGINT},
        account = #{record.account,jdbcType=VARCHAR},
        go_back_type = #{record.goBackType,jdbcType=INTEGER},
        city = #{record.city,jdbcType=VARCHAR},
        search_cnt = #{record.searchCnt,jdbcType=INTEGER},
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatistics" >
      update international_search_city_statistics
      <set >
        <if test="account != null" >
          account = #{account,jdbcType=VARCHAR},
        </if>
        <if test="goBackType != null" >
          go_back_type = #{goBackType,jdbcType=INTEGER},
        </if>
        <if test="city != null" >
          city = #{city,jdbcType=VARCHAR},
        </if>
        <if test="searchCnt != null" >
          search_cnt = #{searchCnt,jdbcType=INTEGER},
        </if>
        <if test="insertTime != null" >
          insert_time = #{insertTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apin.qunar.statistics.dao.model.InternationalSearchCityStatistics" >
      update international_search_city_statistics
      set account = #{account,jdbcType=VARCHAR},
        go_back_type = #{goBackType,jdbcType=INTEGER},
        city = #{city,jdbcType=VARCHAR},
        search_cnt = #{searchCnt,jdbcType=INTEGER},
        insert_time = #{insertTime,jdbcType=TIMESTAMP}
      where id = #{id,jdbcType=BIGINT}
    </update>
  </mapper>